body{
   border: 2px solid #9e9ac8;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 600px;
   margin: 50px auto;
   gap: 50px;
   padding: 15px; 
}
/*전원버튼 디자인*/
.power{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 2px solid black;
   background: rgb(244, 30, 30);
   font-size: 19px;
   color: black;
   margin-bottom: 60px;
}
.power:hover {
   background: #444;
   color: white;
}

.clock{
   margin-left: 30px;
}
.date{
   font-size: 18px;
   color: #9e9ac8;
}
.time{
   font-size: 38px;
   font-weight: 600;
   color: #6a51a3;
}

.battery{
   display: flex;
   flex-direction: row-reverse;    /*이걸 넣어야 오른쪽부터 써짐*/
   align-items: center;
   gap: 10px;
   font-size: 20px;
   margin-bottom: 40px;
}
.battery-img{
   width: 60px;
   height: 20px;
}

.alarm-setting{
   text-align:center;
   width: 260px;
   margin: 10px 30px 10px auto;
}
.alarm-add { 
   background: #6a51a3; 
   color: white; 
   border-radius: 10px;
}
.alarm-add:hover {
   background: #4b367c; /* hover 더 진보라 */
}
.alarm-list{
   text-align: right;
   border: 1px solid #9e9ac8;
   background: #ede7f6;
   color: black;
   border-radius: 10px;
   width: 230px;
   height: 100px;
   margin: 15px 30px 30px auto;
   padding: 10px;
}